{{ $headless := .Site.GetPage "couple" }}
{{ $couple := $headless.Resources.ByType "page" }}

<section class="ftco-section bg-section" id="groom-bride-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <span class="subheading">{{ .Params.subheading }}</span>
        <h2 class="mb-3">{{ .Params.heading }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range $couple }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
  </div>
</section>
